#grid h1 {
  position:relative;
  left: 450px;
  width: 10em;
  margin: 0px;
}
#insideGrid {
	position: relative;
	left:365px;
	border:solid;
	border-radius: 20px;
	background-color: white;
}
#clear {
	position: relative;
	left: 400px;
	top:20px;
	height: 25px;
}

#eraser {
	position: relative;
	left: 630px;
	top:20px;
	height: 25px;
}

.pixel {
	margin: 0;
	padding: 0;
}